html{
    position: relative;
    width: 100%;
    height: 100%;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    padding-inline: 20px;
    padding-block: 10px;
}

button:nth-child(2){
    background: red;
}
button:nth-child(3){
    background: green;
}
button:nth-child(4){
    background: blue;
}
button:nth-child(5){
    background: royalblue;
}